<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>线路修改</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" lay-filter="layItem"-f action="">
    <div class="mainBox">
        <div class="main-container">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">病人姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">入院时间</label>
                    <div class="layui-input-block">
                        <input id="test1" type="text" name="time" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属科室</label>
                    <div class="layui-input-block">
                        <input type="text" name="office" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">病人状态</label>
                    <div class="layui-input-block">
                        <input type="text" name="conditions" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">医生编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="doctorNum" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">医生姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="doctorName" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属病房</label>
                    <div class="layui-input-block">
                        <input type="text" name="room" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属床号</label>
                    <div class="layui-input-block">
                        <input type="text" name="bed" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>

    //获取url后面携带的参数
    function getQueryVariable(variable) {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return null;
    }

    let id=getQueryVariable("id");

layui.use(['form','jquery','upload','laydate'],function(){
    let form = layui.form;
    let $ = layui.jquery;
    let upload = layui.upload;
    var laydate = layui.laydate;

    //执行一个laydate实例
    laydate.render({
        elem: '#test1' //指定元素
        ,trigger: 'click'
    });
    function timestampToTime(timestamp) {
        timestamp = timestamp ? timestamp : null;
        let date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        let Y = date.getFullYear() + '-';
        let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        let D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
        return Y + M + D;
    }


    //回显数据
    $.ajax({
        url:`http://localhost:${myPort}/patient/find?id=`+id,
        method:"GET",
        success:function(obj){

            let data=obj.data;

            //layui表单赋值回显
            form.val("layItem", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                name:data.name,
                time:timestampToTime(data.time),
                office:data.office,
                conditions:data.conditions,
                doctorNum:data.doctorNum,
                doctorName:data.doctorName,
                room:data.room,
                bed:data.bed
            });

        }
    });

    form.on('submit(user-save)', function(data){



        //修改携带id
        data.field.id=id;


        console.info(data.field);

        $.ajax({
            url:`http://localhost:${myPort}/patient/update`,
            data:data.field,
            type:'post',
            success:function(result){
                if(result.code==0){
                    layer.msg(result.msg,{icon:1,time:1000},function(){
                        parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                        window.parent.location.reload()
                    });
                }else{
                    layer.msg(result.msg,{icon:2,time:1000});
                }
            }
        })
        return false;
    });
})
</script>
<script>
</script>
</body>
</html>