<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生-新增页面</title>
    <link href="../../component/pear/css/pear.css" rel="stylesheet"/>
</head>
<body>
<form action="" class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <label class="layui-form-label">医生编号</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="doctorNumber" lay-verify="required"
                           placeholder="请输入医生编号"
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="name" lay-verify="required"
                           placeholder="请输入医生姓名"
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input checked name="gender" title="男" type="radio" value="0">
                    <input name="gender" title="女" type="radio" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="number" name="age"
                           placeholder="请输入年龄"
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="phone" name="phone"
                           placeholder="请输入手机号"
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-block">
                    <select lay-search name="departmentId">
                        <option value="0">无</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">薪水</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" lay-verify="number" name="salary"
                           placeholder="请输入薪水"
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入职时间</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" id="timeSelect" lay-verify="date|required"
                           name="employmentDate"
                           placeholder="请选择入职时间" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">个人介绍</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input" name="notes"
                           placeholder="请输入个人介绍"
                           type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="doctor-save" lay-submit=""
                    type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>


<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
    // 自动获取焦点
    document.querySelector('input[name="doctorNumber"]').focus();

    layui.use(['form', 'jquery', 'laydate'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        laydate.render({
            elem: '#timeSelect'
        });

        // 显示部门
        $.ajax({
            url: `http://localhost:${myPort}/department/list?limit=1000`,
            dataType: 'json',
            type: 'get',
            success: function (data) {
                let d = data.data;
                $.each(d, function (index, item) {
                    $("select[name='departmentId']").append(new Option(item.departmentNum + " - " + item.departmentName, item.id)); //往下拉菜单里添加元素
                });
                form.render("select"); //重新渲染 固定写法
            }
        });

        form.on('submit(doctor-save)', function (data) {
            $.ajax({
                url: `http://localhost:${myPort}/doctor/add`,
                data: data.field,
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    if (result.code === 0) {
                        layer.msg(result.msg, {
                            icon: 1,
                            time: 1000
                        }, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window
                                .name)); //关闭当前页
                            parent.layui.table.reload("doctor-table");
                        });
                    } else {
                        layer.msg(result.msg, {
                            icon: 2,
                            time: 1000
                        });
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>