<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>医生管理</title>
    <link href="../../../component/pear/css/pear.css" rel="stylesheet"/>
    <style>
        .expand.pear-btn:hover {
            color: currentColor;
            background: none;
        }

        .expand.pear-btn {
            border: 1px solid rgba(255, 255, 255, 0)
        }
    </style>
</head>

<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="doctor-table" lay-filter="doctor-table"></table>
    </div>
</div>

<script id="doctor-toolbar" type="text/html">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<!-- 栏目操作 -->
<script id="user-bar" type="text/html">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
            class="layui-icon layui-icon-delete"></i></button>
    <button class="pear-btn pear-btn-sm" id="more_{{d.id}}"><i class="layui-icon layui-icon-triangle-d"></i>
    </button>
</script>

<script id="doctor-gender" type="text/html">
    {{#if (d.gender == 1) { }}
    <span>男</span>
    {{# }else if(d.gender == 0){ }}
    <span>女</span>
    {{# } }}
</script>

<!--时间戳转换-->
<script id="doctor-employmentDate" type="text/html">
    {{layui.util.toDateString(d.employmentDate, 'yyyy-MM-dd')}}
</script>

<div style="display: none;">
    <div class="layer-top">
        <br/>
        <h3>上侧弹层内容...</h3>
    </div>
</div>

<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'drawer', 'dropdown', 'common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let drawer = layui.drawer;
        let dropdown = layui.dropdown;
        let common = layui.common;

        let MODULE_PATH = "";

        // 表格样式
        let cols = [
            [{
                type: 'checkbox'
            },
                {
                    title: 'ID',
                    field: 'id',
                    align: 'center',
                },
                {
                    title: '医生编号',
                    field: 'doctorNumber',
                    align: 'center',
                },
                {
                    title: '姓名',
                    field: 'name',
                    align: 'center'
                },
                {
                    title: '性别',
                    field: 'gender',
                    align: 'center',
                    templet: '#doctor-gender'
                },
                {
                    title: '年龄',
                    field: 'age',
                    align: 'center'
                },
                {
                    title: '电话',
                    field: 'phone',
                    align: 'center'
                },
                {
                    title: '职位',
                    field: 'position',
                    align: 'center'
                },
                {
                    title: '薪水',
                    field: 'salary',
                    align: 'center'
                },
                {
                    title: '入职时间',
                    field: 'employmentDate',
                    align: 'center',
                    templet: '#doctor-employmentDate'
                },
                {
                    title: '个人介绍',
                    field: 'notes',
                    align: 'center',
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'left',
                    width: 160,
                    fixed: 'right'
                }
            ]
        ]

        table.render({
            elem: '#doctor-table',
            url: 'http://localhost:18888/doctor/list',
            page: false,
            cols: cols,
            skin: 'line',
            toolbar: '#doctor-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'exports'],
            done: function (res, curr, count) {
                for (var i = 0; i < res.data.length; i++) {
                    dropdown.render({
                        elem: '#more_' + res.data[i].id,
                        data: [{
                            title: 'menu item11',
                            id: 100
                        }, {
                            title: 'menu item22',
                            id: 101
                        }, {
                            title: 'menu item33',
                            id: 102
                        }],
                        id: '#more_' + res.data[i].userId,
                        click: function (obj) {
                            layer.tips('点击了：' + obj.title, this.elem, {
                                tips: [1, '#5FB878']
                            })
                        }
                    });
                }
            }
        });

        table.on('tool(doctor-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(doctor-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: [common.isModile() ? '100%' : '500px', common.isModile() ? '100%' : '400px'],
                content: MODULE_PATH + 'add.html'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '400px'],
                content: MODULE_PATH + 'edit.html' + "?id=" + obj.data['id']
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除这位医生？', {
                icon: 3,
                title: '确认删除'
            }, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "http://localhost:18888/doctor/delete?id=" + obj.data['id'],
                    dataType: 'json',
                    type: 'GET',
                    success: function (result) {
                        layer.close(loading);
                        console.log();
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                obj.del();
                                table.reload('doctor-table');
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {
                    icon: 3,
                    time: 1000
                });
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].userId + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些医生？', {
                icon: 3,
                title: '确认删除'
            }, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "batchRemove/" + ids,
                    dataType: 'json',
                    type: 'GET',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code === 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                table.reload('doctor-table');
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.refresh = function (param) {
            table.reload('doctor-table');
        }
    })
</script>
</body>

</html>